@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg1: rgb(8, 10, 15);
  --color-bg2: rgb(0, 17, 32);
  --color1: 18, 113, 255;
  --color2: 107, 74, 255;
  --color3: 100, 100, 255;
  --color4: 50, 160, 220;
  --color5: 80, 47, 122;
  --color-interactive: 140, 100, 255;
  --white: #ffffff;
  --circle-size: 80%;
  --blending: hard-light;
}

* {
  background: transparent;
  border: none;
  box-sizing: border-box;
  color: var(--white);
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

body {
  background: var(--color-bg2);
  color: var(--white);
  display: grid;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 700;
  text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.2);
}

nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.2);
  z-index: 15;
  &:before {
    content: "";
    background: var(--white);
      background: linear-gradient(90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 34%,
          rgba(255, 255, 255, 1) 89%,
          rgba(255, 255, 255, 0) 100%);
    filter: blur(0.5px);
    height: 2px;
    left: 0;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: auto;
  text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.1);
  &:before {
    content: "";
    background: var(--white);
    background: linear-gradient(90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 34%,
          rgba(255, 255, 255, 1) 89%,
          rgba(255, 255, 255, 0) 100%);
    filter: blur(0.5px);
    height: 2px;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    position: absolute;
    z-index: 2;
  }
}

.card {
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 4px 90px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  max-width: 900px;
  overflow: hidden;
  padding: 1.6rem;
  user-select: none;
  z-index: 10;
  &:before {
    content: "";
    background: var(--white);
    background: linear-gradient(90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 34%,
          rgba(255, 255, 255, 1) 89%,
          rgba(255, 255, 255, 0) 100%);
    filter: blur(0.5px);
    height: 2px;
    left: 0;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .noise {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.1;
  }
  .content {
    position: relative;
    text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
}

p {
  line-height: 1.6;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));

  .svgBlur {
    display: none;
  }

  .noiseBg {
    height: 100%;
    left: 0;
    mix-blend-mode: soft-light;
    opacity: 0.3;
    top: 0;
    width: 100%;
  }
  .gradients-container {
    height: 100%;
    filter: url(#goo) blur(40px);
    width: 100%;
  }

  .g1 {
    animation: moveVertical 30s ease infinite;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    left: calc(50% - var(--circle-size) / 2);
    top: calc(50% - var(--circle-size) / 2);
    mix-blend-mode: var(--blending);
    opacity: 1;
    position: absolute;
    transform-origin: center center;
  }

  .g2 {
    animation: moveInCircle 20s reverse infinite;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    mix-blend-mode: var(--blending);
    opacity: 1;
    position: absolute;
    transform-origin: calc(50% - 400px);
  }

  .g3 {
    animation: moveInCircle 40s linear infinite;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    mix-blend-mode: var(--blending);
    opacity: 1;
    position: absolute;
    transform-origin: calc(50% + 400px);
  }

  .g4 {
    animation: moveHorizontal 40s ease infinite;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 50%
      )
      no-repeat;
    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    mix-blend-mode: var(--blending);
    opacity: 0.7;
    position: absolute;
    transform-origin: calc(50% - 200px);
  }

  .g5 {
    animation: moveInCircle 20s ease infinite;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    mix-blend-mode: var(--blending);
    opacity: 1;
    position: absolute;
    transform-origin: calc(50% - 800px) calc(50% + 200px);
  }

  .interactive {
    background: radial-gradient(
        circle at center,
        rgba(var(--color-interactive), 0.8) 0,
        rgba(var(--color-interactive), 0) 50%
      )
      no-repeat;
    height: 100%;
    left: -50%;
    mix-blend-mode: var(--blending);
    opacity: 0.7;
    position: absolute;
    top: -50%;
    width: 100%;
  }
}

/* Buttons */
.btnCard {
  -webkit-backdrop-filter: blur(10px);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--white);
  cursor: pointer;
  letter-spacing: 2px;
  max-width: 250px;
  text-transform: uppercase;

  &:before {
    content: "";
    background: var(--white);
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 34%,
        rgba(255, 255, 255, 1) 89%,
        rgba(255, 255, 255, 0) 100%);
    filter: blur(0.5px);
    height: 2px;
    left: 0;
    mix-blend-mode: hard-light;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .noise {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.1;
  }

  .content {
    position: relative;
    text-shadow: -3px 0px 2px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
}

.btnCard:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Home page */
.profile-img {
  box-shadow:
    6px 6px 10px rgba(0, 0, 0, 0.25),
    -6px -6px 10px rgba(42, 53, 78, 0.5);
}

/* Contact page */
.input {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Carousel */
.embla {
  max-width: 40rem;
  margin: auto;
  width: 90vw;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

.embla__container {
  margin-left: calc(var(--slide-spacing) * -1);
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  transform: translate3d(0, 0, 0);
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  display: flex;
  height: var(--slide-height);
  user-select: none;
}

.embla-thumbs {
  margin-top: var(--thumbs-slide-spacing);
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 6rem;
}

.embla-thumbs__slide {
  margin: auto;
  min-width: 0;
}

.embla-thumbs__slide__number {
  display: flex;
  touch-action: manipulation;
  width: 65%;
}

.embla-thumbs__slide--selected .btnCard {
  background-color: rgba(255, 255, 255, 0.2);
}

.project-img {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Tech Stack */
.tech-icons {
  border-radius: 8%;
  filter: invert(100%) sepia(0%) saturate(7471%) hue-rotate(5deg) brightness(109%) contrast(110%);
}

/* Neumorphic style */
.neumorphic-square {
  border-radius: 8%;
  box-shadow:
    6px 6px 10px rgba(0, 0, 0, 0.25),
    -6px -6px 10px rgba(255, 255, 255, 0.5);
}
